/* General Setup */

html, body, .wrapper {
    margin: 0;
    padding: 0;
  }

.wrapper {
    display: flex;
}
.header {
    width: 100%;
    height: 200px;
    background-color: teal;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul,h1 {
    font-size: 20px;
}

li {
    font-size: 15px;
}


/* Header Layout */

.header h1 {
    font-size: 35px;
    font-weight: bolder;
    order: 1;
    margin-left: 75px;
}

.header img {
    height: 150px;
    width: 300px;
    order: 2;
    margin-right: 75px;
}

/* Main container Layout */

.container {
    width: 100%;
    height: 100%;
    background-color: #FFE073;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
}

.container img {
    height: 200px;
    width: 150px;
    margin: 25px;

    border: violet;
    border-radius: 10px;
    border-style: double;

    display: flex;
    order: 1;

}

/* THis is the mini sentence */

.one {
    max-width: 160px;
    height: fit-content;
    margin: 10px;

    display: flex;
    background-color: white;
    order: 2;
}


/* This is the meaty resume part */

.two {
    width: fit-content;
    height: fit-content;

    display: flex;
    background-color: white;
    flex-direction: column;
    order: 3;
    margin: 10px;
}

.jobtitle {
    font-size: 15px;
}

.jobdesc {
    font-size: 10px;
    font-weight: bold
}


